@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: 246 181 166;
    --secondary: 249 234 66;
    --tertiary: 177 229 232;

    --primary-dark: 239 126 99;
}

#toggle:checked ~ .dot {
    transform: translateX(150%);
}

#toggle:checked ~ .toggleBg {
    background-color: rgb(var(--primary-dark));
}